body {
    background-color: #adc5d1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(78, 76, 76);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: auto;
    background-color: #ffe2d8;
    color: rgb(78, 76, 76);
}

h1 {
    font-size: xx-large;
    text-align: center;
}

h2 {
    /* text-align: center; */
    font-size: x-large;
}

.project-h2 {
    font-style: oblique;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ffe2d8;
    padding-top: 10px;
    padding-bottom: 10px;
}

.projects-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
    background-color: #adc5d1;
}

a {
    color: rgb(78, 76, 76);
}
img {
    border-radius: 80px;
    padding-left: 10px;
}

p {
    text-align: center;
    font-size: larger;
}

.welcome {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-items: center;
   align-items: center;
}

.prof-pic {
    grid-area: 1 / 1 / span 1 / span 3;
}

.about-heading {
    grid-area: 2 / 2 / span 1 / span 1;
    text-align: center;
}

.about-me {
    grid-area: 3 / 1 / span 1 / span 3;
    font-style: normal;
}

#omeka-site, #album-site, #sql-proj, #omeka-cats, #dpu-proj, #loc-assessment {
    font-size: x-large;
    font-style: oblique;
    padding-left: 30px;
}

#etl-repo, #cats-collec, #travel-collec {
    padding-left: 60px;
    font-size: large;
}

#omeka-site::before {
    content: '\1F4C2    ';
    font-style: normal;
}

#album-site::before {
    content: '\1F4BB    ';
    font-style: normal;
}

#sql-proj::before {
    content: '\1F963    ';
    font-style: normal;
}

#omeka-cats::before {
    content: '\1F5C3    ';
    font-style: normal;
}

#dpu-proj::before {
    content: '\1F4BE    ';
    font-style: normal;
}

#loc-assessment::before {
    content: '\1F5A5    ';
    font-style: normal;
}

@media screen and (min-width: 800px) {
    .projects-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        margin: 20px;
        padding: 20px;
        grid-row-gap: 40px
    }

    .omeka-site {
        /* background-color: antiquewhite; */
    }

    .album-site {
        /* background-color: aquamarine; */
    }
}