ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
    background-color: peachpuff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}

.menu-icon {
    cursor: pointer;
    padding-right: 15px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: peachpuff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.dropdown-menu li {
    padding: 10px;
    text-align: center;
}

.dropdown-menu a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown-menu a:hover {
    background-color: antiquewhite;
}

footer {
    width: 100%;
    background-color: peachpuff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.projects-list {
    font-family: monospace;
}

.corkboard {
    visibility: hidden;
}


h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

main {
    font-size: larger;
    text-align: center;
}

#typed-text {
    font-family: monospace;
}

#cv {
    font-family: monospace;
    font-size: larger;
}

.current {
    font-style: italic;
    font-weight: bold;
}

#welcome {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 15px;
    justify-content: center;
    padding: 40px;
    justify-items: center;
}

#welcome img:first-of-type {
    grid-area: 1 / 1 / span 2 / span 3;
    border-radius: 30px;
}

#github, .github-link, .github-icon {
    grid-area: 3 / 1 / span 1 / span 1;
    width: 50px;
    height: 50px;
}

#linkedin, .linkedin-link, .linkedin-icon {
    grid-area: 3 / 2 / span 1 / span 1;
}

#instagram, .instagram-link, .instagram-icon {
    grid-area: 3 / 3 / span 1 / span 1;
}

#typed-text {
    grid-area: 2 / 5 / span 4 / span 7;
}


@media screen and (max-width: 800px) {
    #welcome {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 15px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 25px;
    }

    #welcome img:first-of-type {
        grid-area: 1 / 2 / span 1 / span 4;
        border-radius: 30px;
    }

    #github, .github-link, .github-icon {
        grid-area: 2 / 2 / span 1 / span 1
    }

    #linkedin, .linkedin-link, .linkedin-icon {
        grid-area: 2 / 3 / span 1 / span 2;
    }

    #instagram, .instagram-link, .instagram-icon {
        grid-area: 2 / 5 / span 1 / span 1;
    }

    #typed-text {
        grid-area: 3 / 1 / span 2 / span 6;
    }

    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        min-height: 100vh;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    header {
        display: flex;
        justify-content: flex-end; /* Align items to the right */
        align-items: center;
        background-color: peachpuff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px 0;
      }

      .menu-icon {
        cursor: pointer;
        padding-right: 15px;
      }

      .dropdown-menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: peachpuff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
      
      .dropdown-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .dropdown-menu li {
        padding: 10px;
        text-align: center;
      }
    
      .dropdown-menu a {
        text-decoration: none;
        color: black;
        display: block;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }

      .dropdown-menu a:hover {
        background-color: antiquewhite;
      }

    footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        background-color: peachpuff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }

    h1, main {
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: larger;
        margin-bottom: 70px;
    }

    h1 {
        font-size: xx-large;
    }

    .corkboard {
        visibility: hidden;
    }

    .projects-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}